{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-4 col-md-offset-4">
    <center>
    <i>  <h2>Register</h2></i>
    {{ form_start(form) }}
    <i>   {{ form_widget(form) }}</i>
    <div style="margin-top:10px" class="form-group">
        <!-- Button -->

        <div class="col-sm-12 controls">
            <button id="btn-login" class="btn btn-success" type="submit">Login  </button>

        </div>
    </div>
    {{ form_end(form) }}

    </center>
</div>
{% endblock %}



